<% function formatoPrecio(precio) { return precio.toLocaleString('es-AR', { style: 'currency' , currency: 'ARS' }); } %>
<% function upperCase(str){return str.toUpperCase()} %>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>FACTURA</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>

<body>
  <%- myCss %>
    <header class="clearfix">
      <div id="logo">
        <img src="<%- logo %> ">
        <h2 class="name">
          MAYORISTA EN LIMPIEZA
        </h2>
        <div>
          VP. REPRESENTACIONES
        </div>
        <div>
          CHAVISACATE 2062, Bº TALLERES OESTE
        </div>
        <div>
          TEL.: 3512655464
        </div>
      </div>
      <div style="position: absolute;text-align: center;width: 100%;">
        <h2 class="name">ORIGINAL</h2>
        <div
          style="width: 80px;height: 80px;background: #80808061;margin: auto;border: 4px solid black;margin-top: 20px;">
          <h1 style="margin-top: 5px;margin-bottom: 5px;font-size: 35px;">
            <%- letra %>
          </h1>
          <span>NO FISCAL</span>
        </div>
      </div>
      <div id="company" style="margin-top: 21px;text-align: left;">
        <h2 class="name" style="margin-bottom: 10px;">FACTURA Nº: <span >
            <%- factNro %>
          </span></h2>
        <h2 class="name" style="margin-bottom: 10px;">FECHA: <span >
            <%- fechaFact %>
          </span></h2>
        <div style="margin-bottom: 7px;">CUIT: <span >
            <%- cuitOrigen %>
          </span></div>
        <div style="margin-bottom: 7px;">IIBB: <span >
            <%- iibbOrigen %>
          </span></div>
        <div style="margin-bottom: 7px;">INICIO ACT.: <span >
            <%- iniAct %>
          </span></div>
      </div>
      </div>
    </header>
    <main>

      <div id="details" class="clearfix">
        <% if(clienteNro===99999999){ %>
          <div id="client">
            <div class="to">CONSUMIDOR FINAL</div>
            <div class="email"><a href="mailto:<%- clienteEmail %> ">
                <%- upperCase(clienteEmail) %>
              </a></div>
          </div>
          <% }else { %>
            <div id="client">
              <div class="to">CLIENTE:</div>
              <h2 class="name">
                <%- upperCase(clienteName) %>
              </h2>
              <h2 class="name">
                <%- upperCase(condIvaCliente) %>
              </h2>
              <h2 class="name">
                <%- tipoDoc %> : <%- clienteNro %>
              </h2>
              <div class="email"><a href="mailto:<%- clienteEmail %> ">
                  <%- upperCase(clienteEmail) %>
                </a></div>                
            </div>
            <div id="shipping">
              <div class="to">ENTREGA:</div>            
                <h2 class="name">
                  <%- upperCase(direccionCliente) %>
                </h2>               
                <h2 class="name">
                 LOCALIDAD: <%- upperCase(localidadCliente) %>
                </h2>
               <h2 class="name">
                 PROVINCIA: <%- upperCase(provinciaCliente) %>
                </h2>
                <h2 class="name">
                  TEL: <%- telefonoCliente %>
                 </h2>
            </div>
            <% } %>
              <div id="invoice">
                <% if(cbteAsoc){ %>
                  <br />
                  <div class="to">COMPROBANTE ASOCIADO:</div>
                  <h2 class="name">FACTURA Nº: </h2>
                  <h2 class="name">
                    <%- cbteAsoc %>
                  </h2>
                  <% }else{ %>
                    <% if(parseInt(formaPago.code)===5){ %>
                      <div class="to">FORMA DE PAGO:</div>
                      <% variosPagos.forEach(function(item){ %>
                       <% if(parseInt(item.tipo)===6) { %>
                       <h2 class="name">
                        <hr style="margin: 0;">
                        <%- upperCase(item.tipo_txt) %>: <%- formatoPrecio(item.importe) %> <br>
                         (<%- upperCase(item.banco) %> - Nº <%- item.nro_cheque %> - VENC. <%- item.fecha_vencimiento %>)                        
                      </h2>
                      <% } else { %>
                        <%- upperCase(item.tipo_txt) %>: <%- formatoPrecio(item.importe) %><br>
                        <% } %>
                        <% }); %>
                          <% }else{ %>
                            <div class="to">FORMA DE PAGO:</div>
                            <h2 class="name">
                              <%- upperCase(formaPago.string) %>
                            </h2>
                            <% } %>
                              <% } %>
              </div>
      </div>

      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="unit" style="text-align: right; background-color: #cfcfcf;">CANT.</th>
            <th class="unit" style="text-align: left; background-color: #cfcfcf;">DESCRIPCION</th>
            <% if(!noPrice){ %>
            <th class="unit" style="text-align: right;background-color: #cfcfcf;"> PRECIO UNIT.</th>            
            <th class="unit" style="text-align: right;background-color: #cfcfcf;">TOTAL</th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% listaItems.forEach(function(item){ %>
            <%- include('./ItemFactNoFiscal.ejs', { itemName: upperCase(item.nombre_prod), itemPrice: item.precio_ind, itemCant:
              item.cant_prod, itemTotal: item.total_prod, tipoUn: item.unidad_tipo_prod, noPrice}); %>
              <% }); %>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </main>
    <footer>
      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th style="border: 1px solid white;" class="total">SUB-TOTAL: <%- formatoPrecio(subTotalNoFiscal) %>
            </th>
            <th style="border: 1px solid white;" class="total">
              DESC.: <%- formatoPrecio(totalDesc) %>
            </th>
            <th style="border: 1px solid white;" class="total" style="font-size: 1.2em;">TOTAL: $<%-
                totalFact %>
            </th>
          </tr>
        </thead>
      </table>
      <div style="width: 100%;border-top: 2px solid #AAAAAA;margin-top: 10px;margin-bottom: 10px;"></div>

      <div style="width: 40%">
        <div style="position: absolute;left: 0%;">
          <span style="margin-top: 5px;margin-bottom: 5px;font-size: 13px;">
            VENDEDOR:
          </span>
          <span style="margin-top: 5px;margin-bottom: 5px;font-size: 13px;">
            <%- upperCase(vendedor) %>
          </span>
        </div>
      </div>
      <div style="width: 50%;position: absolute;right: 0;text-align: left;">
        <span style="margin-top: 5px; margin-bottom: 5px;text-align: right;font-size: 13px;">NO VÁLIDO COMO COMPROBANTE FISCAL
        </span>
      </div>
      </div>
      </div>
    </footer>
</body>

</html>
