<% function formatoPrecio(precio) { return precio.toLocaleString('es-AR', {
style: 'currency' , currency: 'ARS' }); } %> <% function
formatoCantidad(cantidad) { return cantidad.toLocaleString('es-AR', {
minimumFractionDigits: 2, maximumFractionDigits: 2 }); } %>

<tr>
  <td class="unit" style="text-align: right">
    <%- formatoCantidad(itemCant) %>
  </td>
  <td class="unit" style="text-align: left"><%- itemName %></td>
  <% if(!noPrice){ %>
  <td class="unit" style="text-align: right">
    <%- formatoPrecio(itemPrice) %>
  </td>
  <td class="unit" style="text-align: right">
    <% if (parseInt(itemDescuento)===0) { %> <% } else if
    (parseInt(itemDescuento)===100) { %> BONIFICADO <% } else { %> <%-
    itemDescuento %> % <% } %>
  </td>
  <td class="unit" style="text-align: right">
    <%- formatoPrecio(itemTotal) %>
  </td>
  <% } %>
</tr>
